body{
    background-color: #1A2835;
}
/* botones */

a{
    text-decoration: none;
}

.card-title {
    text-align: center;
    color: black;
}

.card {
    display: inline-block;
    margin-right: 20px;
    background-color: #cac9c9;
}

.bottons {
    text-align: center;
    margin-top: 40px;
}

/* tabla */

#active{
    background-color: rgb(70, 156, 151);
}

#card1 {
    text-align: center;
}

#tabla {
    margin-top: 40px;
    width: 400px;
}

/* resultado */

#card2, #cuentas {
    text-align: center;
}

#tabla2{
    width: 400px;
    margin-left: 80px;
    margin-top: -45px;
}