<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport"
    content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <meta>
  <title>Document</title>
  <link href="ruta/a/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Informe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Presupuesto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              cosas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">no se q va</a></li>
              <li><a class="dropdown-item" href="#">no se q va</a></li>
              <li><a class="dropdown-item" href="#">no se q va</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
    <div class="container d-flex justify-content-between"
    style="margin: auto; text-align: center; max-width: 960px;">
    <div class="card" id="tabla">
      <div class="card-header" id="card1">
        Historial
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">santy se coje al de a bajo</li>
        <li class="list-group-item">nahu</li>
        <li class="list-group-item">A third item</li>
      </ul>
      
    </div>
    <div class="boton-modal">
      <label for="btn-modal">
        Crear Presupusto
      </label>
    </div>

  </div>
  
  
  <!--Boton-->
  
  

  
  <!--Fin de Boton-->
  <!--Ventana Modal-->
  <input type="checkbox" id="btn-modal">
  <div class="container-modal">
    <div class="content-modal">
      Monto:<input type="number"> <br>
      Categoria:<input type="text"><br>
      Fecha:<input type="date">

      <div class="btn-cerrar">
        <label for="btn-modal">Cerrar</label>
      </div>
    </div>
    <label for="btn-modal" class="cerrar-modal"></label>
  </div>
  <!--Fin de Ventana Modal-->
  <!-- Contenido de tu sitio web -->


  <script src="ruta/a/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>